
@{
    ViewBag.Title = "Opdracht";
}

<h2>Opdracht</h2>

<h3>De opdracht is als volgt:</h3>

<p>Jullie gaan een ToDo lijst maken met behulp van MVC en Web API</p>

<p>Probeer het zo voor elkaar te krijgen dat elke item naar de text file toe wordt geschreven.</p>
<p>========================================================================================================</p>
<p>Probeer ook dat de login naar een aparte bestand wordt geschreven</p>
<p>========================================================================================================</p>
<p>Moeilijke opdracht: Probeer om het text bestand weer terug te laden en kijk of je het dan kan laten uit lezen, en vervolgens in een ul lijst kan laten weergeven.</p>